@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Variables de couleurs */
:root {
    --vanilla: #e4d6a7;
    --licorice: #1c110a;
    --hunyadiYellow: #e9b44c;
    --rofous: #9b2915;
    --verdigris: #50a2a7;
    --white: #ffffff;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Global */
body {
    font: 400 18px 'Josefin Sans', sans-serif;
    background-color: var(--vanilla);
    color: var(--licorice);
    margin: 0;
    line-height: 1.8;
}

section h1, h2, h3 {
    color: var(--rofous);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

section p {
    text-align: justify;
    margin: 1rem 0;
}

section  {
    text-decoration: none;
    transition: color 0.3s ease;
}

section a:hover {
    color: var(--hunyadiYellow);
}


/* Sections */
section {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: var(--shadow);
}

section h2 {
    font-size: 2rem;
    color: var(--rofous);
    text-transform: uppercase;
}

section h3 {
    font-size: 1.5rem;
    color: var(--hunyadiYellow);
    margin-top: 2rem;
}

section img {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: var(--shadow);
}

/* Témoignages */
#temoignages {
    background-color: var(--vanilla);
    padding: 3rem 1rem;
    border-radius: 12px;
    text-align: center;
}

.temoignage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.temoignage-card {
    background: var(--white);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: var(--shadow);
    max-width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.temoignage-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.temoignage-card p {
    font-style: italic;
    color: var(--licorice);
}

.temoignage-card .auteur {
    font-weight: bold;
    color: var(--rofous);
    margin-top: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    #header nav {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .temoignage-container {
        flex-direction: column;
    }

    section {
        padding: 1.5rem;
    }
}
