/* styles.css */

#listeActualite {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Aligne les éléments à gauche */
}

#listeActualite > div {
    box-sizing: border-box;
    width: calc(33.33% - 10px); /* 3 colonnes avec un espacement */
    margin-bottom: 20px; /* Espacement entre les lignes */
    margin-right: 10px; /* Espacement entre les colonnes */
    border: 1px solid #ccc; /* Bordure pour chaque actualité */
    border-radius: 5px; /* Coins arrondis */
    background-color: #f9f9f9; /* Couleur de fond */
}

#listeActualite > div:nth-child(3n) {
    margin-right: 0; /* Supprime la marge à droite pour chaque 3ème élément */
}

#listeActualite h1 {
    font-size: 1.2em;
    margin: 0 0 10px 0; /* Marge en bas */
}

#listeActualite p {
    margin: 5px 0; /* Marge pour les paragraphes */
}

.pagination {
    display: flex; /* Utilise flexbox pour aligner les éléments */
    justify-content: center; /* Centre les boutons horizontalement */
    margin-top: 20px; /* Ajoute un espace au-dessus des boutons */
}

.pagination-form {
    margin: 0 5px; /* Ajoute un espace entre les boutons */
}

button {
    padding: 10px 15px; /* Ajoute du padding pour rendre les boutons plus cliquables */
    font-size: 16px; /* Ajuste la taille de la police */
    border-radius: 15px;;
    cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
}